---
layout: default
body_id: blog
title: "#chris-eppstein {position: unique;} - Blog"
bottom_nav: <a href="/blog/archives.html">&larr; Read more at the archives</a>
---
.blog
  - site.posts.reject{|p| p.data['draft']}.sort_by(&:date).reverse[0..9].each_with_index do |post,index|
    - if index > 0
      %hr
    .section
      - if post.data["link"]
        %h3.header.link
          = link_to(rp(post.title), post.data["link"], {:class=>"title"})
          %a.permalink(href="#{post.url}") &infin;
      - else
        %h3.header
          = link_to(rp(post.title), post.url, {:class=>"title"})
      .article
        %p= rp(post.data["description"])
      .footer
        - if post.data["comments_off"]
          %em.comments_off Comments disabled
        - else
          %a(href="#{post.url}/#disqus_thread")Leave a Comment &raquo;
:javascript
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/chriseppstein/get_num_replies.js' + query + '"></' + 'script>');
                  })();
