---
layout: default
body_id: home
title: "#chris-eppstein {position: unique;}"
description: "A web architect on a mission to bring software development practices to web design."
keywords: "Chris Eppstein, chriseppstein, sass, compass, css, ruby on rails, ruby, rails, designer, developer, web applications, javascript, UX, UI, design, programming, javascript, xhtml, semantic markup, position, unique"
bottom_nav: <a href="/blog/">More from the blog &rarr;</a>
verify: <meta name="verify-v1" content="dod3zRBNeuf2lgDlHn+ZAYK+fUFRuxryWjLWqbzmKcU=" />
---

#most-recent-post.mini.blog
  - post = site.posts.sort_by(&:date).reverse.detect{|p| p.data['featured']}
  - if post.data["stylesheet"]
    %link{:href=>"/stylesheets/#{post.data['stylesheet']}.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
  %h2.description Featured Post
  .section.alpha
    %h1.header
      = link_to(rp(style_amp(post.title)), post.url, {:class=>"title"})
    .article
      - if post.data["exerpt"]
        = rp(site.markdown("#{post.data['exerpt']} &hellip; #{link_to('more &raquo;', post.url, {:class=>'more'})}"))
      - else
        = preserve rp(post.content)
    .footer
      - unless post.data["comments_off"]
        %a(href="#{post.url}/#disqus_thread") Comments
