!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    %title= page.attempt(:browser_title) || page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>"http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.3.2");
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id=>"post"}
    #header-wrapper
      #header
        .title.highlight
          %h1.n #chris-eppstein
          %h2 &nbsp;&nbsp;<span class="k">position</span><span class="o">:</span>&nbsp;<span class="m">unique</span>
        .nav
          %ul
            %li.home
              %a(href="/" title="Home") Home
            %li.blog
              %a(href="/blog/" title="Blog") Blog
            %li.projects
              %a(href="/projects/" title="Projects") Projects
            %li.work
              %a(href="/work/" title="Work") Work
        .aside
          #search
            %form(action="http://www.google.com/cse" id="cse-search-box")
              %input(type="hidden" name="cx" value="010456759155788273473:m_ld19wftd4")
              %input(type="hidden" name="ie" value="UTF-8")
              %input#q(type="text" name="q")
              /%input(type="submit" name="sa" value="Search")
        
          #blog-links
            %a#rss(href="/blog/atom.xml" title="subscribe")
              %img(src="/images/rss.png")
              %span Subscribe
            %a#archive(href="/blog/archives.html" title="blog archive") Blog Archive
    #content-wrapper
      #content
        #page.blog
          .contents.section.alpha
            .metadata
              Published:
              %span.pubdate=page.date.strftime("%d %b, %Y")
              - if page.respond_to?(:link)
                %span.vr &nbsp;
                Linking to:
                = link_to(shorten(page.link), page.link)
            %h2.header
              - if page.respond_to?(:link)
                = link_to(rp(page.title), page.link, {:class=>"title"})
              - else
                = rp(page.title)
            .article= preserve(rp(content))
            .footer{:class=>(page.respond_to?(:comments_off) ? "alt" : nil)}
              - if page.respond_to?(:comments_off)
                .vr &nbsp;
                %em.comments_off Comments have been disabled for this post.
              - else
                #disqus_thread
                :javascript
                  var disqus_url = "#{full_url(page.url)}";
                  var disqus_developer = 1;
                %noscript
                  <a href="http://chriseppstein.disqus.com/?url=ref">View the discussion thread.</a>
                %script{:type=>"text/javascript", :src=>"http://disqus.com/forums/chriseppstein/embed.js"}
        #sidebar.aside
          %h3.heading Blog Archives
          - posts = site.posts.group_by { |p| p.date.strftime("%Y") }
          - posts.keys.sort.reverse.each do |year|
            %h5= year
            %ul.section
              - posts[year].sort_by(&:date).reverse.each do |post|
                %li{:style=>"font-size: 60%"}= link_to(post.title, post.url)
    #footer-wrapper
      #footer
        .bottom_nav
          .back-to-top
            %a.ucase(href="#") &uarr; back to top
        #foot_bottom.alone
          %a.affiliate.compass(href="http://compass-style.org" title="Styled with Compass")
            Styled with Compass
          %h6
            Powered by
            %a(href="http://jekyllrb.com/") Jekyll
            and
            %a(href="http://www.oddbird.net/susy/") Susy
          %h6
            &ndash; design <span class="amp">&amp;</span> content &copy; 2009 &ndash; christopher eppstein
          %h6
            &ndash; with design help and inspiration from
            %a(href="http://github.com/imathis") Brandon Mathis
          %h6
            &ndash;
            %a(href="/highlighted/stylesheets/screen.sass.html") browse stylesheets
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-10648948-1");
        pageTracker._trackPageview();
      } catch(err) {}
