!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    - if page.respond_to?(:title)
      %title= page.title
    - else
      %title #chris-eppstein { postion: unique; }
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    - if verify = page.attempt(:verify)
      = verify
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %link{:href=>"/stylesheets/print.css", :rel=>"stylesheet", :media=>"print", :type=>"text/css"}
    %link{:href=>"/blog/atom.xml", :rel=>"alternate", :title=>"#chris-eppstein {position: unique;}", :type=>"application/atom+xml"}
    %script{:type=>"text/javascript", :src=>"http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.3.2");
    %script{:type=>"text/javascript", :src=>"/javascripts/jquery.tweet.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id => page.attempt(:body_id)}
    = render "shared/header"
    #content-wrapper
      #content
        #page
          .contents
            :preserve
              #{content}
        = render "shared/sidebar"
    = render "shared/footer"