!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}
    %title= page.attempt(:browser_title) || page.title
    - if page.respond_to? :description
      %meta{:name=>"description", :content=>page.description}/
    - if page.respond_to? :keywords
      %meta{:name=>"keywords", :content=>page.keywords}/
    %link{:href=>"/stylesheets/screen.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %link{:href=>"/stylesheets/print.css", :rel=>"stylesheet", :media=>"print", :type=>"text/css"}
    - if page.respond_to? :stylesheet
      %link{:href=>"/stylesheets/#{page.stylesheet}.css", :rel=>"stylesheet", :media=>"screen, projection", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>"http://www.google.com/jsapi"}
    :javascript
      google.load("jquery", "1.3.2");
    %script{:type=>"text/javascript", :src=>"/javascripts/jquery.tweet.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/site.js"}
  %body{:id=>"post"}
    = render "shared/header"
    #content-wrapper
      #content
        #page.blog
          .contents.section.alpha
            #tweet-this
              <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="chriseppstein" data-url="#{full_url(page)}" data-text="#{page.title}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            .metadata
              Published:
              %span.pubdate=page.date.strftime("%d %b, %Y")
              - if page.respond_to?(:link)
                %span.vr &nbsp;
                Linking to:
                = link_to(shorten(page.link), page.link)
            %h2.header
              - if page.respond_to?(:link)
                = link_to(rp(page.title), page.link, {:class=>"title"})
              - else
                = rp(page.title)
            - if page.attempt(:byline)
              .byline= page.byline
            .article= preserve(rp(content))
            .footer{:class=>(page.respond_to?(:comments_off) ? "alt" : nil)}
              - if page.respond_to?(:comments_off)
                .vr &nbsp;
                %em.comments_off Comments have been disabled for this post.
              - else
                #disqus_thread
                :javascript
                  var disqus_url = "#{full_url(page)[0..-2]}";
                  var disqus_developer = 1;
                %noscript
                  <a href="http://chriseppstein.disqus.com/?url=ref">View the discussion thread.</a>
                %script{:type=>"text/javascript", :src=>"http://disqus.com/forums/chriseppstein/embed.js"}
        = render "shared/sidebar"
    = render "shared/footer"